/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Jumbotron */


.con-hero {
  display: flex;

}

.con-hero .col2 {
  width: 60%;
}

.con-hero .col2 img {
  width: 25em;
}




/* About Me */

.about-me {
  background-image: url(../img/catbg1.png);
  padding: 2em 0;
}

.about-me .container {
  display: flex;
}

.about-me .container .col2 {
  padding-left: 2em;
}

.about-me .container br {
  content: " ";
  display: block;
  margin-bottom: 1em;
}

.about-me .btn {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* Services */

.services {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

.services-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.services-con .col2 img {
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
}

.services-con .col1 {
  text-align: left;
  width: 20%;
}

.services-con .col3 {
  text-align: right;
  width: 20%;
}

/* My Works */

.myWorks {
  margin-top: 1.5em;
  margin: 0 auto;
  text-align: center;
}

#work1, #work2, #work3 {
  width: 15em;
  border: solid 1px #000000;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

.overlay:hover {
  opacity: 0.75;
  background: #fdfdfd;
}

.text {
  position: absolute;
  top: 50%;
  text-align: center;
  padding-left: 10.5em;
  padding-right: 10.5em;
  color: #000;
}

.text a {
  color: #000;
  text-decoration: none;
}


label { 
display: block;
 }

/* Contact Me */

.contact {
  background-image: url("../img/repbg.png");
  margin: 0 auto;
  padding: 2em 0;
}

.contact-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-con .col2 {
  width: 40%;
}

#call-me {
  margin-top: 0.5em;
}

.contact-con textarea {
  resize: none;
}


/* Footer */

.list-unstyled svg {
  width: 1.5em;
  fill: #fdfdfd;
}

.list-unstyled svg:hover {
  fill: #0069d9;
}

.list-unstyled li a {
  display: inline;
  color: #fdfdfd;
}

.list-unstyled li a:hover {
  text-decoration: none;
  color: #0069d9;
}

.list-unstyled .svg {
  display: inline;
}

#svg-ul {
  margin-top: 0.5rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */

}

@media screen and (max-width: 991px) {


/* Hero */
  .hero {
    text-align: center;
  }

  .con-hero {
    flex-direction: column;
  }

  .con-hero .col2 {
    width: auto;
  }

  .con-hero .col2 img {
  width: 20em;
}

/* About Me */

  .about-me .container {
    flex-direction: column;
  }

  .about-me .container .col2 {
    padding-left: 0;
  }


/* Services */

  .services-con {
    flex-direction: column;
  }  

  .services-con img {
    width: 20em;
  }

  .services-con .col1, .services-con .col3 {
    width: auto;
    text-align: center;
  }

  .services-con .col2 {
    margin-bottom: 1em;
  }

/* My Works */

.text {
  position: absolute;
  top: 25%;
  text-align: center;
  padding-left: 4em;
  padding-right: 4em;
  color: #000;
}



/* Contact */

#call-me, #call-me-p {
  text-align: center;
}

.contact-con {
  flex-direction: column;
  align-items: stretch;

}

.contact-con .col2 {
  width: auto;
  text-align: left;
}


#submit-button {
  margin: 0 auto;
  display: flex;
  margin-bottom: 1em;
}

}

@media screen and (max-width: 575px) {


  .text {
  padding-left: 6em;
  padding-right: 6em;
  position: absolute;
  text-align: center;
  color: #000;
}
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

